.program {
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-neutral50);
    padding: 5rem 0;
}




.program__title{
    text-align: center;
    font-size: var(--size-xl);
    margin-top: var(--size-xs);
    margin-bottom: var(--size-lg);
}

.title {
    font-size: var(--size-sm);
}

.program__description {
    text-align: center;
    font-size: var(--size-sm);
    margin-bottom: 3rem;
}

.program__container-img1 {
    width: 30rem;
    height: auto;
    object-fit: contain;
    border-radius: 24px;
    margin-bottom: var(--size-2xl);
}

.program__container-title {
    margin-bottom: var(--size-xxs);
    font-size: var(--size-lg);
}

.program__container-description {
    margin-bottom: var(--size-xs);
    max-width: 30ch;
}

.program__btn-container {
    display: flex;
}

.program__btn-container a {
    flex: 1;
    text-align: center;
}

.program__container1 {
    margin-bottom: 3rem;
}

.program__container2 {
    margin-bottom: 3rem;
}



/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {

    .program__container-title {
        margin-bottom: var(--size-xxs);
        font-size: var(--size-xl);
    }
    
    .program__container-description {
        margin-bottom: var(--size-sm);
        max-width: 40ch;
    }

    .program__btn-container a  {
       font-size: var(--size-sm);
    }



    .program__title{
        font-size: var(--size-2xl);
        margin-top: var(--size-xs);
        margin-bottom: var(--size-lg);
    }
    
    .title {
        font-size: var(--size-base);
    }
    
    .program__description {
        font-size: var(--size-base);
        max-width: 45ch;
        text-align: center;
        margin-bottom: 3rem;
    }




}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {

    .program__container-title {
        margin-bottom: var(--size-xxs);
        font-size: var(--size-2xl);
    }
    
    .program__container-description {
        margin-bottom: var(--size-base);
        max-width: 40ch;
    }

    .program__btn-container a  {
       font-size: var(--size-base);
    }




    .program__title{
        font-size: var(--size-3xl);
        margin-top: var(--size-xs);
        margin-bottom: var(--size-lg);
    }
    
    .title {
        font-size: var(--size-lg);
    }
    
    .program__description {
        font-size: var(--size-lg);
        max-width: 60ch;
        text-align: center;
        margin-bottom: 3rem;
    }
}

/* xl */
@media (min-width: 1280px) {

    .program__container-title {
        margin-bottom: var(--size-xxs);
        font-size: var(--size-3xl);
    }
    
    .program__container-description {
        margin-bottom: var(--size-lg);
        max-width: 40ch;
    }

    .program__container-right {
        /* border: 5px solid red; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .program__btn-container a {
        flex: none;
    }

    .program__btn-container a  {
       font-size: var(--size-lg);
    }



    .program__title{
        font-size: var(--size-4xl);
        margin-top: var(--size-xs);
        margin-bottom: var(--size-lg);
    }
    
    .title {
        font-size: var(--size-xl);
    }
    
    .program__description {
        font-size: var(--size-xl);
        max-width: 60ch;
        text-align: center;
        margin-bottom: 3rem;
    }

    .program__container {
        display: flex;
        flex-direction: column;
    
    }

    .box {
        display: flex;
        gap: 2rem;
        
    }




}

/* 2xl */
/* @media (min-width: 1536px) {} */