.update {
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-neutral50);
    padding: 5rem 0;
}

.update__title{
    text-align: center;
    max-width: 15ch;
    font-size: var(--size-xl);
    margin-top: var(--size-xs);
    margin-bottom: var(--size-lg);
}


.update__btn {
    font-size: var(--size-sm);
}


.title {
    font-size: var(--size-sm);
}

.update__description {
    text-align: center;
    font-size: var(--size-sm);
    margin-bottom: 3rem;
}

/* xs */
@media (min-width: 475px) {
    .update__title{
        font-size: var(--size-2xl);
        margin-top: var(--size-xs);
        margin-bottom: var(--size-lg);
    }
    
    .title {
        font-size: var(--size-base);
    }
    
    .update__description {
        font-size: var(--size-base);
        max-width: 45ch;
        text-align: center;
        margin-bottom: 3rem;
    }

    .update__btn {
        font-size: var(--size-base);
    }

}

/* sm */
@media (min-width: 640px) {
    .update__title{
        font-size: var(--size-2xl);
        margin-top: var(--size-xs);
        margin-bottom: var(--size-lg);
    }
    
    .title {
        font-size: var(--size-base);
    }
    
    .update__description {
        font-size: var(--size-base);
        max-width: 45ch;
        text-align: center;
        margin-bottom: 3rem;
    }

    .update__btn {
        font-size: var(--size-base);
    }

}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .update__title{
        font-size: var(--size-3xl);
        margin-top: var(--size-xs);
        margin-bottom: var(--size-lg);
    }
   
    .title {
        font-size: var(--size-lg);
    }
    .update__description {
        font-size: var(--size-lg);
        max-width: 50ch;
        text-align: center;
        margin-bottom: 3rem;
    }

    .update__btn {
        font-size: var(--size-lg);
    }
}

/* xl */
@media (min-width: 1280px) {
    .update__title{
        font-size: var(--size-4xl);
        margin-top: var(--size-xs);
        margin-bottom: var(--size-lg);
    }
    
    .title {
        font-size: var(--size-xl);
    }
    
    .update__description {
        font-size: var(--size-xl);
        max-width: 50ch;
        text-align: center;
        margin-bottom: 3rem;
    }

    
    .update__btn {
        font-size: var(--size-xl);
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */