:root {
    /* fonts */
    --font-primary: "Plus Jakarta Sans", sans-serif;
    
    
    /* colors */
    --clr-black: #000;
    --clr-white: #fff;
    --clr-neutral950: #131A1E;
    --clr-neutral700: #3A5360;
    --clr-neutral600: #446776;  
    --clr-neutral400: #6996A7;
    --clr-neutral200: #C3D8DE;
    --clr-neutral100: #DFEAEE;
    --clr-neutral50: #F3F7F8;
    --clr-blue: #4C93F6;
    --clr-hover: #59DCF7;
  
    --clr-link: #428EF8;
    --clr-bold: #2171E0;


    /* gradients */

    --clr-gradient: linear-gradient(90deg, #4C93F6, #52CEE7);
    --clr-gradientLight: linear-gradient(90deg, #52CEE7, #4C93F6);

        /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}



* {
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary);
    background-color: var(--clr-white);
    color: var(--clr-neutral600);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}



input,
button,
textarea,
select {
    font: inherit;
}

button {
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}


p {
    color: var(--clr-neutral600);
}

a {
    color: var(--clr-neutral600);
}



strong {
    background: var(--clr-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

/* accessibility */

button:focus-visible,
a:focus-visible {
    outline: solid var(--clr-neutral950);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -0.025em;
}


body::-webkit-scrollbar {
    width: 8px;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: var(--clr-neutral950);
    outline: 1px solid var(--clr-neutral950);
  }